<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Cuba</title>
    <link rel="icon" type="image/png" sizes="128x128" href="https://citascuba.sre.gob.mx/icons/favicon-128x128.png">
    {% load static %}
    <link href="{% static "/57f8a114.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/2bebcc53.css" %}">
    <link rel="stylesheet" href="{% static "/3255344d.css" %}">
    <script src="https://kit.fontawesome.com/8fc3308ca3.js" crossorigin="anonymous"></script>

</head>

<body class="desktop no-touch body--light" style="">
    <div id="q-app" data-v-app="">
        <div class="q-layout q-layout--standard" data-v-6ffbcd8b="" style="min-height: 746.4px;">
            <!---->
            <!---->
            <header class="q-header q-layout__section--marginal absolute-top bg-primary text-white" data-v-6ffbcd8b="">
                <div class="q-toolbar row no-wrap items-center" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""><img src="https://citascuba.sre.gob.mx/img/sre_logo.e1b38f50.svg"
                            alt="SRE" height="45" class="q-mt-xs" data-v-6ffbcd8b=""></div>
                </div>
                <div class="q-toolbar row no-wrap items-center bg-secondary text-white" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""> Citas Cuba <small data-v-6ffbcd8b="">v
                            3.0.2</small></div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
                <!---->
            </header>
            <div class="q-page-container" data-v-6ffbcd8b="" style="padding-top: 108px; padding-bottom: 493px;">
                <div class="pages-padding" data-v-6ffbcd8b="">
                    <div class="q-card q-card--bordered q-card--flat no-shadow" data-v-6ffbcd8b="">
                        <div class="q-card__section q-card__section--vert">
                            <div class="row">
                                <div class="col-8 col-md-4 col-sm-4">
                                    <div class="text-h6">
                                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                        <b>
                                             Iniciar Sesión</b>
                                    </div>
                                </div>
                                <div class="col-16 col-md-8 col-sm-8">
                                    <div class="column items-end">
                                        <div class="row q-gutter-xs" data-v-a4655354=""><img
                                                src="https://citascuba.sre.gob.mx/img/mi_consulado.87b11ce0.png" alt="Mi Consulado" width="125"
                                                data-v-a4655354=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="q-separator q-separator--horizontal" aria-orientation="horizontal">
                        <div class="q-card__section q-card__section--vert" data-v-a4655354="">
                            <div class="q-item q-item-type row no-wrap" data-v-a4655354="">
                                <div class="q-item__section column q-item__section--main justify-center"
                                    data-v-a4655354="">
                                    <form class="q-form q-gutter-md" autocorrect="off" autocapitalize="off"
                                        autocomplete="off" spellcheck="false" data-v-a4655354="">
                                        <div class="row q-pa-md q-col-gutter-xs" data-v-a4655354="">
                                            <div class="col-6 offset-3" data-v-a4655354="">
                                                <div class="doc-note doc-note--warning" data-v-a4655354="">
                                                    <p class="doc-note__title" data-v-a4655354=""><b
                                                            data-v-a4655354="">ATENCIÓN</b></p>
                                                    <p data-v-a4655354=""> En apego a las mejoras continuas que lleva a
                                                        cabo la Secretaría de Relaciones Exteriores, le informamos a
                                                        todos los usuarios del portal CITAS CUBA que, a partir del día
                                                        de 22 de Abril será necesario registrarse nuevamente en nuestra
                                                        plataforma para continuar con el proceso gratuito de
                                                        programación de citas. </p>
                                                </div>
                                                <!---->
                                                <div class="q-item__label q-item__label--caption text-caption"
                                                    data-v-a4655354=""><label
                                                        class="q-field row no-wrap items-start q-field--outlined q-input q-field--float q-field--labeled q-field--dense q-field--with-bottom"
                                                        for="f_628eb840-3f76-415a-82f3-40ca2d0f6e33" data-v-a4655354="">
                                                        <!---->
                                                        <div class="q-field__inner relative-position col self-stretch">
                                                            <div class="q-field__control relative-position row no-wrap"
                                                                tabindex="-1">
                                                                <div
                                                                    class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                                    <input class="q-field__native q-placeholder"
                                                                        tabindex="0"
                                                                        aria-label="Ingresa tu correo electrónico"
                                                                        id="f_628eb840-3f76-415a-82f3-40ca2d0f6e33"
                                                                        type="text">
                                                                    <div
                                                                        class="q-field__label no-pointer-events absolute ellipsis">
                                                                        Ingresa tu correo electrónico</div>
                                                                    <!---->
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="q-field__bottom row items-start q-field__bottom--animated">
                                                                <div class="q-field__messages col"></div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </label></div>
                                                <div class="q-item__label q-item__label--caption text-caption"
                                                    data-v-a4655354=""><label
                                                        class="q-field row no-wrap items-start q-field--outlined q-input q-field--float q-field--labeled q-field--dense q-field--with-bottom"
                                                        for="f_4fd94837-a7bd-473d-9185-e1132fff88e0" data-v-a4655354="">
                                                        <!---->
                                                        <div class="q-field__inner relative-position col self-stretch">
                                                            <div class="q-field__control relative-position row no-wrap"
                                                                tabindex="-1">
                                                                <div
                                                                    class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                                    <input class="q-field__native q-placeholder"
                                                                        tabindex="0" aria-label="Ingresa tu contraseña"
                                                                        id="f_4fd94837-a7bd-473d-9185-e1132fff88e0"
                                                                        type="password">
                                                                    <div
                                                                        class="q-field__label no-pointer-events absolute ellipsis">
                                                                        Ingresa tu contraseña</div>
                                                                    <!---->
                                                                </div>
                                                                <div
                                                                    class="q-field__append q-field__marginal row no-wrap items-center">
                                                                    <i class="fa-solid fa-eye-slash"></i></div>
                                                            </div>
                                                            <div
                                                                class="q-field__bottom row items-start q-field__bottom--animated">
                                                                <div class="q-field__messages col"></div>
                                                                <!---->
                                                            </div>
                                                        </div>
                                                        <!---->
                                                    </label></div>
                                                <p class="new-code" data-v-a4655354=""> Olvide mi contraseña </p>
                                            </div>
                                            <div class="col-6 offset-3" data-v-a4655354=""><a href="./registro-cuenta"
                                                    class="q-btn q-btn-item non-selectable no-outline q-btn--standard q-btn--rectangle bg-grey text-white q-btn--actionable q-focusable q-hoverable"
                                                    tabindex="0" type="button" data-v-a4655354=""
                                                    style="font-size: 14px; width: 49%; margin-right: 1%;"><span
                                                        class="q-focus-helper"></span><span
                                                        class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                                                        Crear tu cuenta </span></a><button
                                                    class="q-btn q-btn-item non-selectable no-outline q-btn--standard q-btn--rectangle q-btn--actionable q-focusable q-hoverable"
                                                    tabindex="0" type="submit" data-v-a4655354=""
                                                    style="font-size: 14px; width: 49%; background: rgb(157, 36, 73); color: whitesmoke;"><span
                                                        class="q-focus-helper"></span><span
                                                        class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                                                        Iniciar Sesión </span></button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="q-footer q-layout__section--marginal absolute-bottom footer text-white" data-v-6ffbcd8b="">
                <!---->
                <div class="row q-col-gutter-sm q-mb-md" data-v-6ffbcd8b="">
                    <div class="col-3" data-v-6ffbcd8b=""><img data-v-9e928f9a=""
                            src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" href="/"
                            alt="logo gobierno de México" class="logo_footer" data-v-6ffbcd8b=""
                            style="max-width: 90%;"></div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">Enlaces</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://participa.gob.mx" target="_blank" rel="noopener"
                                    data-v-6ffbcd8b=""> Participa </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/publicaciones" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Publicaciones Oficiales </a></li>
                            <li data-v-6ffbcd8b=""><a href="http://www.ordenjuridico.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Marco Jurídico </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://consultapublicamx.inai.org.mx/vut-web/"
                                    target="_blank" rel="noopener" data-v-6ffbcd8b="">Plataforma Nacional de
                                    Transparencia </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://alertadores.funcionpublica.gob.mx/" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b=""> Alerta </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://sidec.funcionpublica.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Denuncia</a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">¿Qué es gob.mx?</h6>
                        <p data-v-6ffbcd8b=""> Es el portal único de trámites, información y participación ciudadana. <a
                                href="https://www.gob.mx/que-es-gobmx" data-v-6ffbcd8b=""
                                style="color: whitesmoke; text-decoration: none;"><b data-v-6ffbcd8b="">Leer más</b></a>
                        </p>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://datos.gob.mx" data-v-6ffbcd8b=""> Portal de datos
                                    abiertos </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/accesibilidad" data-v-6ffbcd8b="">
                                    Declaración de accesibilidad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadintegral" data-v-6ffbcd8b="">
                                    Aviso de privacidad integral </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadsimplificado"
                                    data-v-6ffbcd8b=""> Aviso de privacidad simplificado </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos" data-v-6ffbcd8b=""> Términos y
                                    Condiciones </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion"
                                    data-v-6ffbcd8b=""> Política de seguridad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/sitemap" data-v-6ffbcd8b=""> Mapa de
                                    sitio </a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;"><b data-v-6ffbcd8b=""><a
                                    href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                                    data-v-6ffbcd8b="" style="color: whitesmoke; text-decoration: none;"> Denuncia
                                    contra servidores públicos </a></b></h6>
                        <h6 data-v-6ffbcd8b="" style="margin-top: 1%; margin-bottom: 5%;">Síguenos en</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a class="social-icon facebook" target="_blank" rel="noopener"
                                    href="https://www.facebook.com/gobmexico" aria-label="Facebook de presidencia"
                                    data-v-6ffbcd8b="" style="margin-right: 5%;"><i class="fa-brands fa-facebook fa-2x"
                                        data-v-6ffbcd8b=""></i></a><a class="social-icon twitter" target="_blank"
                                    rel="noopener" href="https://twitter.com/GobiernoMX"
                                    aria-label="Twitter de presidencia" data-v-6ffbcd8b=""><i
                                        class="fa-brands fa-twitter fa-2x" data-v-6ffbcd8b=""></i></a></li>
                        </ul>
                    </div>
                </div>
                <div data-v-58f74857="" class="container-fluid footer-pleca" data-v-6ffbcd8b="">
                    <div data-v-58f74857="" class="row" data-v-6ffbcd8b="">
                        <div data-v-58f74857="" class="column" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""><br data-v-58f74857="" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""></div>
                    </div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
            </footer>
        </div>
    </div>
    <script async="" type="text/javascript"
        src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&amp;ns=1&amp;cb=2031888469"></script>
    <div id="q-notify" data-v-app="">
        <div class="q-notifications">
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-center"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-center"></div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-start justify-center">
            </div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-end justify-center">
            </div>
            <div class="q-notifications__list q-notifications__list--center fixed column no-wrap flex-center"></div>
        </div>
    </div>
    <script>mendeleyWebImporter = {
            downloadPdfs(e, t) { return this._call('downloadPdfs', [e, t]); },
            open() { return this._call('open', []); },
            setLoginToken(e) { return this._call('setLoginToken', [e]); },
            _call(methodName, methodArgs) {
                const id = Math.random();
                window.postMessage({ id, token: '0.29938747063752635', methodName, methodArgs }, 'https://citascuba.sre.gob.mx');
                return new Promise(resolve => {
                    const listener = window.addEventListener('message', event => {
                        const data = event.data;
                        if (typeof data !== 'object' || !('result' in data) || data.id !== id) return;
                        window.removeEventListener('message', listener);
                        resolve(data.result);
                    });
                });
            }
        };</script>
</body>

</html>