<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Cuba</title>
    <link rel="icon" type="image/png" sizes="128x128" href="https://citascuba.sre.gob.mx/icons/favicon-128x128.png">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="{% static "/57f8a114.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/2bebcc53.css" %}">
    <link rel="stylesheet" href="{% static "/3255344d.css" %}">
    <link rel="stylesheet" href="{% static "/toast.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/system.js" %}" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8fc3308ca3.js" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <!-- Pikaday Library -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

</head>

<body class="desktop no-touch body--light" style="">
    <div id="q-app" data-v-app="">
        <div class="q-layout q-layout--standard" data-v-6ffbcd8b="" style="min-height: 746.4px;">
            <!---->
            <!---->
            <header class="q-header q-layout__section--marginal absolute-top bg-primary text-white" data-v-6ffbcd8b="">
                <div class="q-toolbar row no-wrap items-center" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""><img src="https://citascuba.sre.gob.mx/img/sre_logo.e1b38f50.svg"
                            alt="SRE" height="45" class="q-mt-xs" data-v-6ffbcd8b=""></div>
                </div>
                <div class="q-toolbar row no-wrap items-center bg-secondary text-white" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""> Citas Cuba <small data-v-6ffbcd8b="">v
                            3.0.2</small></div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
                <!---->
            </header>
            <div class="q-page-container"  style="">
                <div class="pages-padding" >
                    <div class="q-card q-card--bordered q-card--flat no-shadow" data-v-6ffbcd8b="">
                        <div class="q-card__section q-card__section--vert">
                            <div class="row">
                                <div class="col-8 col-md-4 col-sm-4">
                                    <div class="text-h6"><b><i class="fa-solid fa-id-card-clip"></i> Cree su cuenta</b></div>
                                </div>
                                <div class="col-16 col-md-8 col-sm-8">
                                    <div class="column items-end">
                                        <div class="row q-gutter-xs" ><a
                                                class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-btn--rounded text-negative q-btn--actionable q-focusable q-hoverable"
                                                tabindex="0" href="/" ><span
                                                    class="q-focus-helper"></span><span
                                                    class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                                                        class="fa-solid fa-arrow-rotate-left" aria-hidden="true"
                                                        role="img"> </i><span class="block">Regresar</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="q-separator q-separator--horizontal" aria-orientation="horizontal">
                        <div class="q-card__section q-card__section--vert" >
                            <div class="text-weight-bold section" > Información biográfica </div>
                            {% block content %}
                            <form method="POST" onsubmit="alerta()" class="needs-validation form-floating" >
                                {% csrf_token %}
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating col-1">
                                        <select id="validationCountry" name="country" class="form-select form-select-sm" required>
                                            <option selected disabled hidden></option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Åland Islands">Åland Islands</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antarctica">Antarctica</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Bouvet Island">Bouvet Island</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Territories">French Southern Territories</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Greenland">Greenland</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guernsey">Guernsey</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Isle of Man">Isle of Man</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jersey">Jersey</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macao">Macao</option>
                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Martinique">Martinique</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mayotte">Mayotte</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Montserrat">Montserrat</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                            <option value="New Caledonia">New Caledonia</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Niue">Niue</option>
                                            <option value="Norfolk Island">Norfolk Island</option>
                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Pitcairn">Pitcairn</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Reunion">Reunion</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russian Federation">Russian Federation</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Saint Helena">Saint Helena</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Timor-leste">Timor-leste</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tokelau">Tokelau</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="United States">United States</option>
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Venezuela">Venezuela</option>
                                            <option value="Viet Nam">Viet Nam</option>
                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                            <option value="Western Sahara">Western Sahara</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </select>
                                        <label class="floatingInput" for="validationCountry">
                                            País de nacimiento
                                        </label>
                                        <div class="invalid-feedback">
                                            Por favor, selecciona un país
                                        </div>
                                        
                                    </div>
                                    <div class="form-floating col-1">
                                        <input id="nationality" readonly value="Cubana" type="text" class="form-control" name="{{form.name.name}}">
                                        <label for="nationality">
                                            Nacionalidad
                                        </label>
                                    </div>
                                    <div class="form-floating col-1">
                                        <select id="civilState" class="form-control form-select" required>
                                            <option selected disabled hidden></option>
                                            <option value="">SOLTERO(A)</option>
                                            <option value="">CASADO(A)</option>
                                        </select>
                                        <label for="civilState">Estado civil</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating mb-3 col-1">
                                        <input id="Name" type="text" onkeyup="this.value = this.value.toUpperCase();" placeholder="Nombre(s)" class="form-control" name="{{form.name.name}}" required>
                                        <label for="Name">
                                            Nombre(s)
                                        </label>
                                    </div>
                                    <div class="form-floating mb-3 col-1">
                                        <input id="LastName" type="text" onkeyup="this.value = this.value.toUpperCase();" placeholder="Apellido(s)" class="form-control" name="{{form.last_name.name}}" required>
                                        <label for="LastName">
                                            Apellido(s)
                                        </label>
                                    </div>
                                    <div class="form-floating col-1">
                                        <select id="Genere" class="form-select" required>
                                            <option selected disabled hidden></option>
                                            <option value="">MASCULINO</option>
                                            <option value="">FEMENINO</option>
                                        </select>
                                        <label for="Genere">Sexo</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating mb-3 col-1">
                                        <input id="BornDate" type="text" class="form-control" required>
                                        <label for="BornDate">
                                            Fecha de Nacimiento
                                        </label>
                                        <span>Seleccione primero el año, mes y día.</span>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-1">
                                        <input id="PhoneNumber" type="number" placeholder="Teléfono" class="form-control" required>
                                        <label for="PhoneNumber">
                                            Teléfono
                                        </label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3 col-1">
                                        <input autocomplete="off" minlength="5" maxlength="40" id="Email" type="email" onkeyup="this.value = this.value.toUpperCase();" placeholder="Correo electrónico" class="form-control" name="{{form.email.name}}" required>
                                        <label for="Email">
                                            Correo electrónico
                                        </label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                        
                                        <ul style="color:red ;">{{ form.email.errors }}</ul>
                                        
                                    </div>
                                </div>
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating mb-3 col-1">
                                        <div class="input-group">
                                            
                                            <input  minlength="8" maxlength="20" id="Password" type="password" placeholder="Contraseña" class="form-control" autocomplete="off" required>
                                            
                                            <button id="show_password" class="btn btn-light" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                        
                                        </div>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                        
                                    </div>
                                    <div class="form-floating mb-3 col-1">
                                        <div class="input-group">
                                            <input minlength="8" maxlength="20" id="PasswordRepeat" type="password" placeholder="Repetir Contraseña" class="form-control" required>
                                        
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-floating mb-3 col-1">

                                    </div>
                                </div>
                                <div class="text-weight-bold section" data-v-2fcdc674=""> Información de trámite </div>
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating col-1">
                                        <select id="TramitType" class="form-select" required>
                                            <option value="0" hidden></option>
                                            <option value="1">LEGALIZACIONES Y VISADOS</option>
                                            <option value="2">VISA CON PERMISO DE INM</option>
                                            <option selected value="3">VISA SIN PERMISO DE INM</option>
                                        </select>
                                        <label for="TramitType">Tipo de trámite</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    <div class="form-floating col-1 visatypecss">
                                        <select id="VisaType" class="form-select" required>
                                            <option disabled hidden>Tipo de Visa</option>
                                            <option value="">VISA ESTUDIANTES</option>
                                            <option value="">VISA BECARIOS CONACYT</option>
                                            <option selected value="">VISA TURISMO Y TRÁNSITO</option>
                                            <option value="">VISA VINCULO Y UNIDAD FAMILIAR</option>
                                        </select>
                                        <label for="VisaType">Tipo de Visa</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    <div class="form-floating col-1 passportcss">
                                        <input id="Passport" type="text" placeholder="Pasaporte" class="form-control" name="{{form.passport.name}}" required>
                                        <label for="Passport">Pasaporte</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group row g-3 mb-3">
                                    <div class="form-floating col-1">
                                        <input type="text" id="appointmentdate" class="form-control" name="{{form.appointment_date.name}}" required>
                                        <label for="appointmentdate">Fecha de Cita </label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                    <div class="form-floating col-1">
                                        <input type="time" id="appointmenthour" min="09:00" max="15:00" class="form-control" name="{{form.appointment_hour.name}}" required>
                                        <label for="appointmenthour">Hora de Cita</label>
                                        <div class="invalid-feedback">
                                            Este es un campo requerido
                                        </div>
                                    </div>
                                </div>
                                <div class="row q-pa-md justify-end q-gutter-xs">
                                    <a class="btn btn-secondary col-5 col-md-3" href="/">CANCELAR</a>
                                    <button class="btn btn-danger col-5 col-md-3 " type="submit">CREAR CUENTA</button>
                                    
                                  </div>
                            </form>

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="q-footer q-layout__section--marginal absolute-bottom footer text-white" data-v-6ffbcd8b="">
                <!---->
                <div class="row q-col-gutter-sm q-mb-md" data-v-6ffbcd8b="">
                    <div class="col-3" data-v-6ffbcd8b=""><img data-v-9e928f9a=""
                            src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" href="/"
                            alt="logo gobierno de México" class="logo_footer" data-v-6ffbcd8b=""
                            style="max-width: 90%;"></div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">Enlaces</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://participa.gob.mx" target="_blank" rel="noopener"
                                    data-v-6ffbcd8b=""> Participa </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/publicaciones" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Publicaciones Oficiales </a></li>
                            <li data-v-6ffbcd8b=""><a href="http://www.ordenjuridico.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Marco Jurídico </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://consultapublicamx.inai.org.mx/vut-web/"
                                    target="_blank" rel="noopener" data-v-6ffbcd8b="">Plataforma Nacional de
                                    Transparencia </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://alertadores.funcionpublica.gob.mx/" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b=""> Alerta </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://sidec.funcionpublica.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Denuncia</a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">¿Qué es gob.mx?</h6>
                        <p data-v-6ffbcd8b=""> Es el portal único de trámites, información y participación ciudadana. <a
                                href="https://www.gob.mx/que-es-gobmx" data-v-6ffbcd8b=""
                                style="color: whitesmoke; text-decoration: none;"><b data-v-6ffbcd8b="">Leer más</b></a>
                        </p>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://datos.gob.mx" data-v-6ffbcd8b=""> Portal de datos
                                    abiertos </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/accesibilidad" data-v-6ffbcd8b="">
                                    Declaración de accesibilidad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadintegral" data-v-6ffbcd8b="">
                                    Aviso de privacidad integral </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadsimplificado"
                                    data-v-6ffbcd8b=""> Aviso de privacidad simplificado </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos" data-v-6ffbcd8b=""> Términos y
                                    Condiciones </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion"
                                    data-v-6ffbcd8b=""> Política de seguridad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/sitemap" data-v-6ffbcd8b=""> Mapa de
                                    sitio </a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;"><b data-v-6ffbcd8b=""><a
                                    href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                                    data-v-6ffbcd8b="" style="color: whitesmoke; text-decoration: none;"> Denuncia
                                    contra servidores públicos </a></b></h6>
                        <h6 data-v-6ffbcd8b="" style="margin-top: 1%; margin-bottom: 5%;">Síguenos en</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a class="social-icon facebook" target="_blank" rel="noopener"
                                    href="https://www.facebook.com/gobmexico" aria-label="Facebook de presidencia"
                                    data-v-6ffbcd8b="" style="margin-right: 5%;"><i class="fa-brands fa-facebook fa-2x"
                                        data-v-6ffbcd8b=""></i></a><a class="social-icon twitter" target="_blank"
                                    rel="noopener" href="https://twitter.com/GobiernoMX"
                                    aria-label="Twitter de presidencia" data-v-6ffbcd8b=""><i
                                        class="fa-brands fa-twitter fa-2x" data-v-6ffbcd8b=""></i></a></li>
                        </ul>
                    </div>
                </div>
                <div data-v-58f74857="" class="container-fluid footer-pleca" data-v-6ffbcd8b="">
                    <div data-v-58f74857="" class="row" data-v-6ffbcd8b="">
                        <div data-v-58f74857="" class="column" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""><br data-v-58f74857="" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""></div>
                    </div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
            </footer>
        </div>
    </div>
    <div id="q-notify" data-v-app="">
        <div class="q-notifications">
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-center"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-center"></div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-start justify-center">
            </div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-end justify-center">
            </div>
            <div class="q-notifications__list q-notifications__list--center fixed column no-wrap flex-center"></div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "/toast.js" %}"></script>
    <script>

    var picker = new Pikaday({
        i18n: {
            previousMonth : 'Anterior',
            nextMonth     : 'Siguiente',
            months        : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            weekdays      : ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
            weekdaysShort : ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb']
        },
        format: 'DD/MM/YYYY',
        onSelect: function(date) {
            field.value = this.getMoment().format('DD/MM/YYYY');
        },
        defaultDate: new Date(2022,11,01),
        minDate: new Date(2022,11,01),
        maxDate: new Date(2022,12,31),
        field: document.getElementById('appointmentdate'),
        disableWeekends: true,
        
        //FOOO
        
        //FOOO

        position: 'top left',
        onSelect: function() {
            console.log(this.getMoment().format('L'));
        }

    });

    var picker2 = new Pikaday({
        i18n: {
            previousMonth : 'Anterior',
            nextMonth     : 'Siguiente',
            months        : ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            weekdays      : ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
            weekdaysShort : ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb']
        },
        format: 'DD/MM/YYYY',
        onSelect: function(date) {
            field.value = this.getMoment().format('DD/MM/YYYY');
        },
        maxDate: new Date(),
        yearRange: [1930,2022],
        field: document.getElementById('BornDate'),
          
        position: 'top left',
        onSelect: function() {
            console.log(this.getMoment().format('L'));
        }

    });
    </script>
    <script type="text/javascript">
        function mostrarPassword() {
            var cambio = document.getElementById("Password");
            if (cambio.type == "password") {
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
        }

        $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#ShowPassword').click(function () {
                $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });
        });
    </script>
</body>

</html>