<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static "/57f8a114.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/2bebcc53.css" %}">
    <link rel="stylesheet" href="{% static "/3255344d.css" %}">
    <script src="https://kit.fontawesome.com/8fc3308ca3.js" crossorigin="anonymous"></script>
</head>

<body class="desktop no-touch body--light" style="">
    <div id="q-app" data-v-app="">
        <div class="q-layout q-layout--standard" data-v-6ffbcd8b="" style="min-height: 746.4px;">
            <!---->
            <!---->
            <header class="q-header q-layout__section--marginal absolute-top bg-primary text-white" data-v-6ffbcd8b="">
                <div class="q-toolbar row no-wrap items-center" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""><img src="https://citascuba.sre.gob.mx/img/sre_logo.e1b38f50.svg"
                            alt="SRE" height="45" class="q-mt-xs" data-v-6ffbcd8b=""></div>
                </div>
                <div class="q-toolbar row no-wrap items-center bg-secondary text-white" data-v-6ffbcd8b="">
                    <div class="q-toolbar__title ellipsis" data-v-6ffbcd8b=""> Citas Cuba <small data-v-6ffbcd8b="">v
                            3.0.2</small></div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
                <!---->
            </header>
            <div class="q-page-container" data-v-6ffbcd8b="" style="padding-top: 108px; padding-bottom: 493px;">
                <div class="pages-padding" data-v-6ffbcd8b="">
                    <div class="q-card q-card--bordered q-card--flat no-shadow" data-v-6ffbcd8b="">
                        <div class="q-card__section q-card__section--vert">
                            <div class="row">
                                <div class="col-8 col-md-4 col-sm-4">
                                    <div class="text-h6"><b><i class="fad fa-id-card"></i> Crea tu cuenta</b></div>
                                </div>
                                <div class="col-16 col-md-8 col-sm-8">
                                    <div class="column items-end">
                                        <div class="row q-gutter-xs" data-v-2fcdc674=""><a
                                                class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-btn--rounded text-negative q-btn--actionable q-focusable q-hoverable"
                                                tabindex="0" href="/" data-v-2fcdc674=""><span
                                                    class="q-focus-helper"></span><span
                                                    class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                                                        class="q-icon on-left fad fa-arrow-left" aria-hidden="true"
                                                        role="img"> </i><span class="block">Regresar</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="q-separator q-separator--horizontal" aria-orientation="horizontal">
                        <div class="q-card__section q-card__section--vert" data-v-2fcdc674="">
                            <div class="text-weight-bold section" data-v-2fcdc674=""> Información biográfica </div>
                            <form class="q-form q-gutter-md" autocorrect="off" autocapitalize="off" autocomplete="off"
                                spellcheck="false" data-v-2fcdc674="">
                                <div class="row q-col-gutter-sm q-mb-md" data-v-2fcdc674="">
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-select q-field--auto-height q-select--without-input q-select--without-chips q-select--single q-field--labeled q-field--dense q-field--with-bottom"
                                            for="f_e6da40dd-9363-4ad7-81be-03c25deefac2" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <div class="q-field__native row items-center">
                                                            <span></span><input class="q-select__focus-target"
                                                                id="f_e6da40dd-9363-4ad7-81be-03c25deefac2" readonly=""
                                                                tabindex="0" role="combobox"
                                                                aria-label="País de nacimiento" aria-autocomplete="none"
                                                                aria-expanded="false"
                                                                aria-owns="f_e6da40dd-9363-4ad7-81be-03c25deefac2_lb"
                                                                aria-controls="f_e6da40dd-9363-4ad7-81be-03c25deefac2_lb">
                                                        </div>
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            País de nacimiento</div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="q-field__append q-field__marginal row no-wrap items-center q-anchor--skip">
                                                        <i class="q-icon notranslate material-icons q-select__dropdown-icon"
                                                            aria-hidden="true" role="presentation">arrow_drop_down</i>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <div class="q-field__bottom row items-start q-field__bottom--animated">
                                                    <div class="q-field__messages col"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--float q-field--labeled q-field--dense q-field--readonly"
                                            for="f_5e1db814-2f2f-4cb2-8b3a-088e6f54d32f" aria-readonly="true"
                                            data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Nacionalidad"
                                                            id="f_5e1db814-2f2f-4cb2-8b3a-088e6f54d32f" readonly=""
                                                            type="text">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Nacionalidad</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-select q-field--auto-height q-select--without-input q-select--without-chips q-select--single q-field--labeled q-field--dense q-field--with-bottom"
                                            for="f_6d1ecc40-d9dd-4341-bdd8-7d53012d17f9" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <div class="q-field__native row items-center">
                                                            <span></span><input class="q-select__focus-target"
                                                                id="f_6d1ecc40-d9dd-4341-bdd8-7d53012d17f9" readonly=""
                                                                tabindex="0" role="combobox" aria-label="Estado Civil"
                                                                aria-autocomplete="none" aria-expanded="false"
                                                                aria-owns="f_6d1ecc40-d9dd-4341-bdd8-7d53012d17f9_lb"
                                                                aria-controls="f_6d1ecc40-d9dd-4341-bdd8-7d53012d17f9_lb">
                                                        </div>
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Estado Civil</div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="q-field__append q-field__marginal row no-wrap items-center q-anchor--skip">
                                                        <i class="q-icon notranslate material-icons q-select__dropdown-icon"
                                                            aria-hidden="true" role="presentation">arrow_drop_down</i>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <div class="q-field__bottom row items-start q-field__bottom--animated">
                                                    <div class="q-field__messages col"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                        </label></div>
                                </div>
                                <div class="row q-col-gutter-sm q-mb-md" data-v-2fcdc674="">
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--labeled q-field--dense"
                                            for="f_c786015b-4887-4c6f-a88f-3350df40921f" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Nombre(s)"
                                                            id="f_c786015b-4887-4c6f-a88f-3350df40921f" type="text">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Nombre(s)</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--labeled q-field--dense"
                                            for="f_23e4b1ba-5d38-4272-ac5a-90e1266f6ca7" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Apellido(s)"
                                                            id="f_23e4b1ba-5d38-4272-ac5a-90e1266f6ca7" type="text">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Apellido(s)</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-select q-field--auto-height q-select--without-input q-select--without-chips q-select--single q-field--labeled q-field--dense q-field--with-bottom"
                                            for="f_f5efe013-29a2-4a52-9e72-7b5423d54eb6" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <div class="q-field__native row items-center">
                                                            <span></span><input class="q-select__focus-target"
                                                                id="f_f5efe013-29a2-4a52-9e72-7b5423d54eb6" readonly=""
                                                                tabindex="0" role="combobox" aria-label="Sexo"
                                                                aria-autocomplete="none" aria-expanded="false"
                                                                aria-owns="f_f5efe013-29a2-4a52-9e72-7b5423d54eb6_lb"
                                                                aria-controls="f_f5efe013-29a2-4a52-9e72-7b5423d54eb6_lb">
                                                        </div>
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Sexo</div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="q-field__append q-field__marginal row no-wrap items-center q-anchor--skip">
                                                        <i class="q-icon notranslate material-icons q-select__dropdown-icon"
                                                            aria-hidden="true" role="presentation">arrow_drop_down</i>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <div class="q-field__bottom row items-start q-field__bottom--animated">
                                                    <div class="q-field__messages col"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                        </label></div>
                                </div>
                                <div class="row q-col-gutter-sm q-mb-md" data-v-2fcdc674="">
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--labeled q-field--dense q-field--with-bottom q-field--readonly"
                                            for="f_97a6f71f-d8f1-4cd1-bd2a-69526be5e7d3" aria-readonly="true"
                                            data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Fecha de Nacimiento"
                                                            id="f_97a6f71f-d8f1-4cd1-bd2a-69526be5e7d3" readonly=""
                                                            type="text">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Fecha de Nacimiento</div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="q-field__append q-field__marginal row no-wrap items-center">
                                                        <i class="q-icon notranslate material-icons cursor-pointer"
                                                            aria-hidden="true" role="presentation"
                                                            data-v-2fcdc674="">event
                                                            <!---->
                                                        </i></div>
                                                </div>
                                                <div class="q-field__bottom row items-start q-field__bottom--animated">
                                                    <div class="q-field__messages col"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--labeled q-field--dense"
                                            for="f_5cbc4af9-a51b-441b-ae19-96c4c07b1c19" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Teléfono"
                                                            id="f_5cbc4af9-a51b-441b-ae19-96c4c07b1c19" type="number">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Teléfono</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--float q-field--labeled q-field--dense"
                                            for="f_eb5104f0-c6ad-4d9f-8ff0-60e69fbc6b7a" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Correo electrónico"
                                                            id="f_eb5104f0-c6ad-4d9f-8ff0-60e69fbc6b7a" type="text">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Correo electrónico</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                </div>
                                <div class="row q-col-gutter-sm q-mb-md" data-v-2fcdc674="">
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--float q-field--labeled q-field--dense"
                                            for="f_0a475ceb-4e5a-4529-9d52-2a3ca4f55eb0" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Contraseña"
                                                            id="f_0a475ceb-4e5a-4529-9d52-2a3ca4f55eb0" type="password">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Contraseña</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-input q-field--labeled q-field--dense"
                                            for="f_ad0ff5a8-2f22-4111-98b7-87af1e4c053d" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <input class="q-field__native q-placeholder" tabindex="0"
                                                            aria-label="Repetir Contraseña"
                                                            id="f_ad0ff5a8-2f22-4111-98b7-87af1e4c053d" type="password">
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Repetir Contraseña</div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <!---->
                                            </div>
                                            <!---->
                                        </label></div>
                                </div><br data-v-2fcdc674="">
                                <div class="text-weight-bold section" data-v-2fcdc674=""> Información de trámite </div>
                                <div class="row q-col-gutter-sm q-mb-md" data-v-2fcdc674="">
                                    <div class="col-4" data-v-2fcdc674=""><label
                                            class="q-field row no-wrap items-start q-field--outlined q-select q-field--auto-height q-select--without-input q-select--with-chips q-select--multiple q-field--labeled q-field--dense q-field--with-bottom"
                                            for="f_b1a62a68-06f5-4a9e-913f-c29c9a0e81ff" data-v-2fcdc674="">
                                            <!---->
                                            <div class="q-field__inner relative-position col self-stretch">
                                                <div class="q-field__control relative-position row no-wrap"
                                                    tabindex="-1">
                                                    <div
                                                        class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
                                                        <div class="q-field__native row items-center"><input
                                                                class="q-select__focus-target"
                                                                id="f_b1a62a68-06f5-4a9e-913f-c29c9a0e81ff" readonly=""
                                                                tabindex="0" role="combobox"
                                                                aria-label="Tipo de trámite" aria-autocomplete="none"
                                                                aria-expanded="false"
                                                                aria-owns="f_b1a62a68-06f5-4a9e-913f-c29c9a0e81ff_lb"
                                                                aria-controls="f_b1a62a68-06f5-4a9e-913f-c29c9a0e81ff_lb">
                                                        </div>
                                                        <div class="q-field__label no-pointer-events absolute ellipsis">
                                                            Tipo de trámite</div>
                                                        <!---->
                                                    </div>
                                                    <div
                                                        class="q-field__append q-field__marginal row no-wrap items-center q-anchor--skip">
                                                        <i class="q-icon notranslate material-icons q-select__dropdown-icon"
                                                            aria-hidden="true" role="presentation">arrow_drop_down</i>
                                                    </div>
                                                    <!---->
                                                </div>
                                                <div class="q-field__bottom row items-start q-field__bottom--animated">
                                                    <div class="q-field__messages col"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                            <!---->
                                        </label></div>
                                    <!---->
                                    <!---->
                                    <!---->
                                </div>
                                <!---->
                                <div class="row q-pa-md justify-end q-gutter-xs" data-v-2fcdc674="">
                                    <div class="col-5 col-md-3" data-v-2fcdc674=""><a
                                            class="q-btn q-btn-item non-selectable no-outline q-btn--standard q-btn--rectangle bg-grey text-white q-btn--actionable q-focusable q-hoverable"
                                            tabindex="0" href="/" data-v-2fcdc674="" style="width: 100%;"><span
                                                class="q-focus-helper"></span><span
                                                class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                                                CANCELAR </span></a></div>
                                    <div class="col-5 col-md-3" data-v-2fcdc674=""><button
                                            class="q-btn q-btn-item non-selectable no-outline q-btn--standard q-btn--rectangle q-btn--actionable q-focusable q-hoverable full-width"
                                            tabindex="0" type="submit" data-v-2fcdc674=""
                                            style="background: rgb(157, 36, 73); color: whitesmoke;"><span
                                                class="q-focus-helper"></span><span
                                                class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                                                Crear Cuenta </span></button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="q-footer q-layout__section--marginal absolute-bottom footer text-white" data-v-6ffbcd8b="">
                <!---->
                <div class="row q-col-gutter-sm q-mb-md" data-v-6ffbcd8b="">
                    <div class="col-3" data-v-6ffbcd8b=""><img data-v-9e928f9a=""
                            src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" href="/"
                            alt="logo gobierno de México" class="logo_footer" data-v-6ffbcd8b=""
                            style="max-width: 90%;"></div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">Enlaces</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://participa.gob.mx" target="_blank" rel="noopener"
                                    data-v-6ffbcd8b=""> Participa </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/publicaciones" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Publicaciones Oficiales </a></li>
                            <li data-v-6ffbcd8b=""><a href="http://www.ordenjuridico.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Marco Jurídico </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://consultapublicamx.inai.org.mx/vut-web/"
                                    target="_blank" rel="noopener" data-v-6ffbcd8b="">Plataforma Nacional de
                                    Transparencia </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://alertadores.funcionpublica.gob.mx/" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b=""> Alerta </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://sidec.funcionpublica.gob.mx" target="_blank"
                                    rel="noopener" data-v-6ffbcd8b="">Denuncia</a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;">¿Qué es gob.mx?</h6>
                        <p data-v-6ffbcd8b=""> Es el portal único de trámites, información y participación ciudadana. <a
                                href="https://www.gob.mx/que-es-gobmx" data-v-6ffbcd8b=""
                                style="color: whitesmoke; text-decoration: none;"><b data-v-6ffbcd8b="">Leer más</b></a>
                        </p>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a href="https://datos.gob.mx" data-v-6ffbcd8b=""> Portal de datos
                                    abiertos </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/accesibilidad" data-v-6ffbcd8b="">
                                    Declaración de accesibilidad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadintegral" data-v-6ffbcd8b="">
                                    Aviso de privacidad integral </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/privacidadsimplificado"
                                    data-v-6ffbcd8b=""> Aviso de privacidad simplificado </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos" data-v-6ffbcd8b=""> Términos y
                                    Condiciones </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion"
                                    data-v-6ffbcd8b=""> Política de seguridad </a></li>
                            <li data-v-6ffbcd8b=""><a href="https://www.gob.mx/sitemap" data-v-6ffbcd8b=""> Mapa de
                                    sitio </a></li>
                        </ul>
                    </div>
                    <div class="col-3" data-v-6ffbcd8b="">
                        <h6 data-v-6ffbcd8b="" style="margin-bottom: 5%;"><b data-v-6ffbcd8b=""><a
                                    href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                                    data-v-6ffbcd8b="" style="color: whitesmoke; text-decoration: none;"> Denuncia
                                    contra servidores públicos </a></b></h6>
                        <h6 data-v-6ffbcd8b="" style="margin-top: 1%; margin-bottom: 5%;">Síguenos en</h6>
                        <ul data-v-6ffbcd8b="" style="padding: 0px;">
                            <li data-v-6ffbcd8b=""><a class="social-icon facebook" target="_blank" rel="noopener"
                                    href="https://www.facebook.com/gobmexico" aria-label="Facebook de presidencia"
                                    data-v-6ffbcd8b="" style="margin-right: 5%;"><i class="fa-brands fa-facebook fa-2x"
                                        data-v-6ffbcd8b=""></i></a><a class="social-icon twitter" target="_blank"
                                    rel="noopener" href="https://twitter.com/GobiernoMX"
                                    aria-label="Twitter de presidencia" data-v-6ffbcd8b=""><i
                                        class="fa-brands fa-twitter fa-2x" data-v-6ffbcd8b=""></i></a></li>
                        </ul>
                    </div>
                </div>
                <div data-v-58f74857="" class="container-fluid footer-pleca" data-v-6ffbcd8b="">
                    <div data-v-58f74857="" class="row" data-v-6ffbcd8b="">
                        <div data-v-58f74857="" class="column" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""><br data-v-58f74857="" data-v-6ffbcd8b=""><br data-v-58f74857=""
                                data-v-6ffbcd8b=""></div>
                    </div>
                </div>
                <div class="q-layout__shadow absolute-full overflow-hidden no-pointer-events"></div>
            </footer>
        </div>
    </div>
    <div id="q-notify" data-v-app="">
        <div class="q-notifications">
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-start"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-end"></div>
            <div class="q-notifications__list q-notifications__list--top fixed column no-wrap items-center"></div>
            <div class="q-notifications__list q-notifications__list--bottom fixed column no-wrap items-center"></div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-start justify-center">
            </div>
            <div
                class="q-notifications__list q-notifications__list--center fixed column no-wrap items-end justify-center">
            </div>
            <div class="q-notifications__list q-notifications__list--center fixed column no-wrap flex-center"></div>
        </div>
    </div>
    <script>mendeleyWebImporter = {
            downloadPdfs(e, t) { return this._call('downloadPdfs', [e, t]); },
            open() { return this._call('open', []); },
            setLoginToken(e) { return this._call('setLoginToken', [e]); },
            _call(methodName, methodArgs) {
                const id = Math.random();
                window.postMessage({ id, token: '0.49134642622923796', methodName, methodArgs }, 'https://citascuba.sre.gob.mx');
                return new Promise(resolve => {
                    const listener = window.addEventListener('message', event => {
                        const data = event.data;
                        if (typeof data !== 'object' || !('result' in data) || data.id !== id) return;
                        window.removeEventListener('message', listener);
                        resolve(data.result);
                    });
                });
            }
        };</script>
</body>

</html>