<html>
<head>Portal Cuba</head>
<body>
    <div id=":p3" class="a3s aiL "><u></u>
        <div>
            <u></u>
            <div marginwidth="0" marginheight="0" style="margin:0pt auto;padding:0px;background:#235b4e">
                <table id="m_3696185353542045515main" width="100%" height="100%" cellpadding="0" cellspacing="0"
                    border="0" bgcolor="">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table cellpadding="0" width="580" cellspacing="0" border="0" bgcolor="" align="center"
                                    style="margin:0 auto;table-layout:fixed">
                                    <tbody>

                                        <tr>
                                            <td colspan="4">

                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" height="30"></td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" align="center">
                                                                <a href="https://www.sre.gob.mx"
                                                                    style="display:inline-block;text-align:center"
                                                                    target="_blank"
                                                                    data-saferedirecturl="https://www.google.com/url?q=https://www.sre.gob.mx&amp;source=gmail&amp;ust=1661784718448000&amp;usg=AOvVaw339_uuWxQFYTCRwcCSyovi">
                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=ac7c887270&amp;attid=0.1&amp;permmsgid=msg-f:1742344977783567738&amp;th=182e0d86a4f9b57a&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ91PtRZvx3qtiJdPI6GljYaWcMVfhDasTR2Rn9RC9lKu27zPgro3uKKkAP4-spmwcRyvgf459k38eEy2CrmAU9Cw2CbIjTrOlYP7pQKLPbov8q0tVIlywsz77c&amp;disp=emb"
                                                                        height="100%" width="100%" border="0"
                                                                        data-image-whitelisted="" class="CToWUd"
                                                                        data-bit="iit"
                                                                        jslog="138226; u014N:xr6bB; 53:W2ZhbHNlLDJd">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" height="30"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                    bgcolor="#ffffff" style="border-radius:4px">
                                                    <tbody>
                                                        <tr>
                                                            <td height="40"></td>
                                                        </tr>
                                                        <tr
                                                            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;color:#4e5c6e;font-size:14px;line-height:20px;margin-top:20px">
                                                            <td colspan="2" valign="top" align="center"
                                                                style="padding-left:90px;padding-right:90px">
                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                    border="0" bgcolor="#ffffff">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="bottom"
                                                                                colspan="2" cellpadding="3">
                                                                                <img src="https://citascuba.sre.gob.mx/img/sre_logo.e1b38f50.svg"
                                                                                    height="30%" width="30%" border="0"
                                                                                    data-image-whitelisted=""
                                                                                    class="CToWUd" data-bit="iit">
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="30"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center"> <span
                                                                                    style="color:#48545d;font-size:22px;line-height:24px">
                                                                                    Verifica tu correo electrónico
                                                                                </span>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="24"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="1" bgcolor="#DAE1E9"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="24"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center"> <span
                                                                                    style="color:#48545d;font-size:14px;line-height:24px">
                                                                                    Estimado {{username}} 
                                                                                    , haz realizado un registro
                                                                                    al sistema de Citas de la Secretaría
                                                                                    de Relaciones Exteriores, es
                                                                                    necesario confirmar tu correo
                                                                                    electrónico haciendo click en el
                                                                                    siguiente boton
                                                                                </span>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top" width="48%" align="center">
                                                                                <span>
                                                                                    <a href="https://citascuba.sre.gob.mx/activacion/7b16cbd3069da70ebf198e770e6b1975675efe11/eyJpdiI6Im5CZlgybmg0RTMrRit4c0Zvd254ckE9PSIsInZhbHVlIjoiK3NHLzFpYXhFYWIvN2dJNEVmMWIzQT09IiwibWFjIjoiNzdlYmQ3MTM1YWRjMzI3NTcyZGZhY2QzODVlMDA5NjNkNTYyYjFhNGI3NjA0YjYzZThkNWU0NTEwMGE1ODUxMiIsInRhZyI6IiJ9"
                                                                                        style="display:block;padding:15px 25px;background-color:#0087d1;color:#ffffff;border-radius:3px;text-decoration:none"
                                                                                        target="_blank"
                                                                                        data-saferedirecturl="http:127.0.0.1:8000/activacion">Verificar
                                                                                        correo electrónico</a>
                                                                                </span>

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center">
                                                                                <p>Ingresar el siguiente código en la
                                                                                    plataforma</p>
                                                                                <p>{{verificationcode}}
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="20"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="60"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="10">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" align="center"> <span
                                                                    style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;color:#9eb0c9;font-size:10px">©
                                                                    <a href="https://www.sre.gob.mx"
                                                                        style="color:#9eb0c9!important;text-decoration:none"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://www.sre.gob.mx&amp;source=gmail&amp;ust=1661784718448000&amp;usg=AOvVaw339_uuWxQFYTCRwcCSyovi">
                                                                        La información contenida en el presente sistema
                                                                        es susceptible de estar clasificadas en términos
                                                                        de La Ley Federal de Transparencia y Acceso a la
                                                                        Información Pública Gubernamental por la unidad
                                                                        administrativa que la generó. Secretaría
                                                                        Relaciones Exteriores</a> 2022
                                                                </span>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="50">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>
            <div class="adL">




            </div>
        </div>
        <div class="adL">



        </div>
    </div>
</body>

</html>